<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= filename %></title>
    </head>
    <body>
        <h1><%= filename %></h1>

        <p>This file can be downloaded only once.</p>


        <div id="download-options">
        <p>
        <form action="" method=post>
            <input type=hidden name=key id=key>
            <input type=submit value="Click here to download">
        </form>

        </p>

        <p>
            Share using this link
        </p>
        <input id="share" class="replace-key" type="text" value="<%= downloadURL %>#KEY" style="width: 80%"><button class="copy" data-clipboard-target="#share">to clipboard</button>

        <p>
            From terminal you can use wget
        </p>

        <input id="wget" class="replace-key" type="text" value="wget --post-data='key=KEY' '<%= downloadURL %>'" style="width: 80%"><button class="copy" data-clipboard-target="#wget">to clipboard</button>

        <p>
        or curl
        </p>

        <input id="curl" class="replace-key" type="text" value="curl -d key=KEY -O '<%= downloadURL %>'" style="width: 80%"><button class="copy" data-clipboard-target="#curl">to clipboard</button>

</div>

<hr>

<a href="<%= baseUrl %>">Upload new file</a>

        <script charset="utf-8">
            var key = window.location.hash.slice(1);
            if (key) {
                [].forEach.call(document.getElementsByClassName("replace-key"), function(t) {
                    t.value = t.value.replace(/KEY/g, key);
                });
            } else {
                document.getElementById("download-options").innerHTML = "ERROR: cannot find decryption key from the URL fragment identifier";
            }

        </script>
        <script src="/clipboard.js" charset="utf-8"></script>
        <script charset="utf-8">
            var clipboard = new Clipboard('.copy');
            clipboard.on("error", function(err) {
                alert("Copy failed. Upgrade your browser.");
            });
        </script>
    </body>
</html>
